*{padding: 0 2px;}

ul h1 {
   margin: 0; 
}

#list_container ul h1 {
   margin: 0; 
}

#list_container #list_ul {
    margin: 0;
}

#list_container ul {
    list-style-type: none;
}

#list_container .description_ul li {
    background-image: url('../img/list.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 22px 22px;
    padding-left: 25px;;
}

#list_container .description_ul {
    padding-left:0;
}

#list_container .ul_right {
    justify-self: flex-end;
}

#list_container img {
    max-height: 190px;
}

#list_container li {
    border-radius: 5px;
    font-size: 1.5rem;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 2px;
    padding: 2px;
    color: black;
}

#list_container .list_li {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
    margin: 5px 0px;
    flex-wrap: wrap;
}