* {
}

#planes_about {
    margin: 80px 40px;
    display: flex;
    justify-content: center;
}

#planes_about_content {
    margin-top: 40px;
    min-height: 10px;
    width: 750%;
    border-radius: 20px;
    overflow: hidden;
    background-color: palegreen;
    border: 3px solid navy;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

#planes_about_content * {
    margin: 0;
    box-sizing: border-box;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1 1 400px;
    font-size: 2rem;
    text-align: center;
}